@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {

    --cor01: #8c4905;
    --cor02: #FFBB78;
    --cor03: #EE8821;
    --cor04: #2884A1;
    --cor05: #93DEF5;

    --Fontprincipal: 'Roboto', sans-serif;
    --FontTitulo: 'Poppins', sans-serif;
}
.card{
  width: 400px!important;
  font-family: var(--FontTitulo) !important;
  box-shadow: 7px 7px 13px rgba(50, 50, 50, 0.22) !important;
  padding: 20px !important;
  margin: 20px !important;
  transition: all 0.3s ease-out !important;
  border-left: 8px solid var(--cor02) !important;
  
}
.card:hover{
  transform: translateY(-5px) !important;
  /* cursor: pointer; */

}
.cardProductInfo{
  display: flex !important;
  flex-direction: column !important;
  color: #a3a5ae !important;
  font-size: 12px !important;
  text-align: left;

  margin-left: px !important;
  width: 250px !important;
  font-family: var(--Fontprincipal) !important;
  padding-bottom: 10px !important;

}
.img{
  float: right;
  max-width: 200px;
  max-height: 200px;
}
.Nome{
  font-family: var(--Fontprincipal) !important;
  color: black;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.188);
}
.Desc{
  font-family: var(--Fontprincipal) !important;
  color: black;
  font-size: 1.2em;
  text-align: justify;

}
.Cat{
  font-family: var(--Fontprincipal) !important;
  color: var(--cor01);
  font-weight: bold;
  font-size: 2em;

}

.cardProductButton{
  margin-bottom: 5px;
  margin-top: 5px;
  

  
}



.text-decorator-none {
    text-decoration: none !important;
  }

