.MuiCardContent-root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MuiCardContent-root p {
    font-size: 10px!important;
}

.appbar {
    background-color:#f9f8d6 !important;
    color: black !important;
    width: 100% !important;
    box-shadow: none !important;
}

.labelAppbar {
    background-color: #2885a1 !important;
    color: black !important;
    font-weight: bold !important;
    font-size: 12px !important;
    margin: 5px !important;

    border-style:solid !important;
    border-width:1px !important;
    border-color: black !important;

    border-radius: 10px !important;
}

.MuiTab-textColorInherit {
    opacity: 1 !important;
}