.MuiCardContent-root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MuiCardContent-root p {
    font-size: 10px!important;
}

.appbar {
    background-color:#f9f8d6 !important;
    color: black !important;
    width: 100% !important;
    box-shadow: none !important;
}

.labelAppbar {
    background-color: #2885a1 !important;
    color: black !important;
    width: 15rem !important;
    font-weight: 600 !important;
    font-size: 13px !important;
    margin: 5px !important;
    height: 0.5rem !important;
    border-style:solid !important;
    border-width:1px !important;
    border-color: black !important;
    transition: transform 250ms !important; 
    border-radius: 10px !important;

}

.labelAppbar:hover {
    transform: translateY(-2px);
}

.MuiTab-textColorInherit {
    opacity: 1 !important;
}