*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }

.imagem{
    background-image: url(https://64.media.tumblr.com/8d3ad75b0ae93872e6ebffa77e6229b3/2284ca1c9c4270ac-91/s1280x1920/3d724880c1be90755feda802155381f23072a8b1.gifv);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 500px;
    width: 100vh;
    min-height: 100vh;
}

.textos2{
    font-family: 'Roboto', sans-serif;
    color: #ffffff !important; /* mudar cor do cadastrar*/
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    display: flex;
    flex-direction: row;
  }

  .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
 border: none !important
}

.registerName label, 
.registerFoto label, 
.registerPass label, 
.registerPass2 label, 
.registerUser label{
    border-bottom-color: #5380b1;
    color: black !important;
    margin-bottom: 5px;
}



.registerName {
    font-family: 'Roboto', sans-serif;
  background-color: #96bce6;
  border-radius: 10px;
  display: flex;
  align-items: center;
  border: 2px solid #96bce6;
  transition: 0.25s border;
  padding: 0 15px;
  height: 56px;
  text-decoration: none;
  font-weight: 300;
  font-size: 15px;
  margin-top: 5px;
  margin-left: 20px;
  transition: 0.25s color;
  filter: blur(px);
}

.registerName label{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.788) !important;
}

.btnCancelar{
    top:50% !important;
    background-color:#fd3737 !important;
    color: #fff !important;
    border:none !important; 
    border-radius:15px !important; 
    padding: 7px !important; 
    min-height:30px !important; 
    min-width: 120px !important;
}

.btnCadastrar{
    top:50% !important;
    background-color:#4d96ac !important;
    color: #fff !important;
    border:none !important; 
    border-radius:15px !important; 
    padding: 7px !important; 
    min-height:30px !important; 
    min-width: 120px !important;
    margin-left: 20px !important;
}

.fundo{
    height: 100%;
    color: white;
    background-color: #b0d5e1;
    font-family: 'Roboto', sans-serif
}