
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

:root {

    --cor01: #8c4905;
    --cor02: #FFBB78;
    --cor03: #EE8821;
    --cor04: #2884A1;
    --cor05: #93DEF5;

    --Fontprincipal: 'Roboto', sans-serif;
}
.card{
    width: 400px!important;
    border-width: 5px !important;
    border-radius: 5px !important;
    border-color: #8c490581 !important;
    border-style: solid transparent !important;
    background-color: #ee872165;
    
}

.cardProductInfo{
    display: flex;
    flex-direction: column;

    margin-left: 10px;
    width: 250px;
    font-family: var(--Fontprincipal) !important;
    color: black;
    padding-bottom: 15px;
}
.textoDesc{
    font-size: 1em !important;
    font-family: var(--Fontprincipal) !important;
}
.textoCat{
    font-size: 1.5em !important;
    font-family: 'Times New Roman', Times, serif !important;
}
